:root {
  --default-font-family: "Poppins", sans-serif;
  --secondary-color: #7d8aadf7;
  --branding-color: #334369;
  --tertiary-color: #f1f1f1;
}

body {
  font-family: var(--default-font-family);
  margin-bottom: -40px;
}

h1 {
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 3px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
  font-weight: 600;
}

h4 {
  font-size: 30px;
  font-weight: 500;
}

h5 {
  font-size: 20px;
  font-weight: 500;
}

p {
  font-size: 20px;
  font-weight: 300;
}

footer {
  margin: 60px 60px;
}

footer .contact-box {
  background: var(--tertiary-color);
  border-radius: 10px;
  padding: 45px 100px;
}

footer .contact-box p {
  margin: 0;
  font-size: 17px;
}

/* GENERAL */

.navbar {
  background-color: white;
  padding-bottom: 20px;
}

.navbar-brand {
  font-size: 20px;
}

.nav-item {
  font-weight: 500;
  padding-left: 30px;
}

.content-container {
  padding: 160px 100px 0;
}

.btn-branding {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  padding: 8px 20px;
  transition: all 200ms ease;
}

.btn-branding:hover {
  background-color: white;
  color: var(--secondary-color);
}

.email-link {
  color: black;
  font-size: 22px;
  text-decoration: none;
  margin-top: 50px;
}

.email-link:hover {
  color: var(--branding-color);
}

.social-media-links a {
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  color: var(--secondary-color);
  font-size: 25px;
  margin: 30px 18px;
  padding: 10px 18px;
  transition: all 200ms ease;
}

.social-media-links a:hover {
  background-color: var(--secondary-color);
  color: white;
}

.scroll-up-button {
  font-size: 15px;
  margin-bottom: 50px;
  margin-top: 55px;
  text-align: center;
}

.scroll-up-text {
  color: black;
  font-weight: 400;
  text-decoration: none;
}

.scroll-up-text:hover {
  color: black;
}

.coder {
  font-size: 13px;
}

/* HOMEPAGE */

.hero {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 15% 18%;
  background-image: url(../images/canada.jpg);
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(48, 48, 48, 0.603);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero {
  color: white;
}

.hero h1 {
  font-size: 102px;
  letter-spacing: 3px;
  margin-top: 300px;
}

.hero h2 {
  font-size: 23px;
  font-weight: 500;
  margin-top: 10px;
}

.hero p {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
}

.hero-btn-branding {
  color: white;
  font-size: 30px;
  padding: 15px 30px;
  transition: all 100ms ease;
  position: relative;
  right: 19px;
}

.hero-btn-branding:hover {
  color: white;
  border: 1px solid white;
}

.photo-credit {
  font-size: 14px;
}

.photographer-credit,
.unsplash-link {
  text-decoration: none;
  color: black;
}

.photographer-credit:hover,
.unsplash-link:hover {
  text-decoration: underline;
  color: black;
}

.homepage-content-container {
  padding: 160px 50px 0px;
}

.homepage-content {
  margin: 30px;
}

.homepage-content h2 {
  font-size: 40px;
  font-weight: 600;
}

.homepage-content .homepage-about {
  justify-content: center;
  margin-bottom: 250px;
  padding-top: 178px;
  width: 80%;
}

.homepage-content .homepage-paragraph {
  font-size: 17px;
  line-height: 27px;
  text-align: justify;
}

.homepage-content .name {
  color: var(--secondary-color);
}

.featured-projects-header {
  margin-top: 120px;
  font-size: 30px;
}

.featured-projects-container h3 {
  font-weight: 600;
  letter-spacing: 3px;
}

.featured-project-title {
  margin-top: 80px;
  font-size: 50px;
}

.featured-project-description {
  font-size: 16px;
  text-align: justify;
  line-height: 27px;
  padding: 10px 60px;
}

/* ABOUT PAGE */

.about-paragraphs {
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  text-align: justify;
  text-justify: inter-word;
}

.headshot {
  margin: 0 auto;
  max-width: 400px;
  padding: 11px;
}

.skills-container {
  border: 10px solid var(--tertiary-color);
  border-radius: 20px;
  margin-top: 120px;
  text-align: center;
}

.skills-container h3,
.certificates-container h3,
.education-container h3 {
  font-size: 32px;
}

.skills-container h4 {
  font-size: 20px;
}

.skills-container ul {
  list-style: none;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  margin-right: 40px;
}

.certificates-container {
  margin-top: 50px;
  padding: 60px;
}

.education-content {
  border-right: 3px solid var(--tertiary-color);
}

.education-container {
  margin-top: 50px;
  margin-bottom: 100px;
}

.education-container h4 {
  font-size: 26px;
}

.graduation-icon {
  font-size: 28px;
}

.focus-area-header {
  font-weight: 500;
}

.focus-areas p {
  line-height: 20px;
  font-size: 17px;
}

/* WORK PAGE */

.portfolio-subheading {
  font-size: 20px;
  font-weight: 300;
}

.portfolio-container p {
  font-size: 17px;
}

.project-github-link {
  font-size: 16px;
  color: var(--secondary-color);
  text-decoration: none;
  transition: all 200ms ease;
}

.project-github-link:hover {
  color: var(--branding-color);
}

/* CONTACT PAGE */

.contact-content {
  margin-top: 70px;
  margin-bottom: 85px;
}

.contact-content a {
  color: var(--secondary-color);
  text-decoration: none;
}

.contact-content a:hover {
  text-decoration: underline;
}

.contact-content p {
  font-weight: 400;
}
