:root {
  --default-font-family: "Poppins", sans-serif;
  --branding-color: #7d8aadf7;
  --secondary-color: #334369;
  --subtle-color: #f1f1f1;
}

body {
  font-family: var(--default-font-family);
}

h1 {
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 1px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 20px;
}

h4,
h5 {
  font-weight: 500;
}

p {
  font-size: 17px;
  font-weight: 300;
}

footer {
  margin: 0 0px;
}

footer .contact-box {
  background: var(--subtle-color);
  border-radius: 10px;
  padding: 30px 120px;
}

footer .contact-box p {
  margin: 0;
  font-size: 18px;
}

/* GENERAL */

/* Navbar */

.navbar {
  background-color: white;
  padding-bottom: 20px;
}

.navbar-brand {
  font-size: 20px;
}

.nav-item {
  font-size: 18px;
  font-weight: 500;
  padding-left: 30px;
}

/* Buttons */
.btn-branding {
  background-color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 5px;
  color: white;
  font-size: 17px;
  font-weight: 300;
  line-height: 30px;
  padding: 8px 20px;
  transition: all 200ms ease;
}

.btn-branding:hover {
  background-color: white;
  color: var(--branding-color);
}

/* HOMEPAGE */

/* Hero */

.hero {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 15% 18%;
  background-image: url(../images/canada.jpg);
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(48, 48, 48, 0.603);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-text {
  color: white;
}

.hero h1 {
  font-size: 101px;
  letter-spacing: 3px;
  margin-top: 280px;
}

.hero h2 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 12px;
}

.hero p {
  font-size: 23px;
  font-weight: 600;
  margin-top: 25px;
}

.hero-btn-branding {
  color: white;
  font-size: 30px;
  padding: 8px 26px;
  transition: all 100ms ease;
}

.hero-btn-branding:hover {
  color: white;
  border: 1px solid white;
}

/* Photo credits  */

.photo-credit {
  font-size: 16px;
}

.photographer-credit,
.unsplash-link {
  text-decoration: none;
  color: black;
}

.photographer-credit:hover,
.unsplash-link:hover {
  text-decoration: underline;
  color: black;
}

/* Homepage introduction content */

.homepage-content-container {
  padding: 220px 50px 0;
}

.homepage-content {
  padding: 0 30px;
  margin-bottom: 50px;
}

.homepage-content .homepage-content-container {
  justify-content: center;
  margin-bottom: 250px;
  padding-top: 178px;
}

.homepage-content .introduction-header {
  font-size: 32p;
}
.homepage-content .homepage-paragraph {
  line-height: 28px;
  text-align: justify;
}

.homepage-content .name-color {
  color: var(--branding-color);
}

/* Featured projects */

.featured-projects-container {
  padding-bottom: 20px;
}

.featured-projects-header {
  margin-top: 220px;
}

.featured-projects-content {
  padding: 0 30px;
}

.featured-project-title {
  font-size: 35px;
  margin-top: 80px;
}

.featured-project-description {
  line-height: 28px;
  text-align: justify;
}

/* ABOUT PAGE */

/* My biography */

.about-section {
  padding: 120px 50px 0;
}

.about-content {
  padding: 40px;
  margin-bottom: 60px;
}

.about-paragraphs {
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word;
}

.headshot {
  margin: 0 auto;
  width: 400px;
  border: 10px solid white;
}

/* Skills and education */

/* Skills section*/

.skills-education-section {
  text-align: center;
}

.skills-section {
  border: 7px solid var(--subtle-color);
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 90px;
}

/* Education section */

.education-section h4 {
  font-size: 20px;
}

.education-content-style {
  border-right: 3px solid var(--subtle-color);
}

.education-header {
  margin-bottom: 50px;
}

.graduation-icon {
  font-size: 30px;
}

.focus-areas p {
  line-height: 18px;
}

.skills-section .skills-header {
  margin-bottom: 45px;
}

.skills-section,
.certificate-section,
.education-section {
  margin-top: 70px;
}

.skills {
  font-weight: 200;
}
/* WORK PAGE */

/* Project section */

.project-section {
  padding: 160px 50px 0;
}

.project-content {
  margin-bottom: 100px;
}

.project-subheading {
  font-size: 22px;
}

/* GitHub repository buttons  */

.project-github-link {
  font-size: 16px;
  color: var(--secondary-color);
  text-decoration: none;
  transition: all 200ms ease;
}

.project-github-link:hover {
  color: var(--secondary-color);
}

/* CONTACT PAGE */

.contact-section {
  padding: 160px 50px 0;
}

.contact-content {
  margin-bottom: 70px;
}

.contact-section h1 {
  margin-bottom: 50px;
}

.contact-section a {
  color: var(--branding-color);
  text-decoration: none;
}

.contact-section a:hover {
  text-decoration: underline;
}

.contact-section p {
  font-size: 18px;
  font-weight: 400;
}

/* FOOTER */

/* Email */

.email-link {
  color: black;
  font-size: 22px;
  text-decoration: none;
  margin-top: 50px;
}

.email-link:hover {
  color: var(--branding-color);
}

/* Social Media links  */
.social-media-links a {
  border: 1px solid var(--branding-color);
  border-radius: 50%;
  color: var(--branding-color);
  font-size: 25px;
  margin: 30px 10px;
  padding: 10px 18px;
  transition: all 200ms ease;
}

.social-media-links a:hover {
  background-color: var(--branding-color);
  color: white;
}

/* Scroll-up button  */
.scroll-up-button {
  font-size: 16px;
  margin-bottom: 50px;
  margin-top: 55px;
  text-align: center;
}

.scroll-up-text {
  color: black;
  font-weight: 400;
  text-decoration: none;
}

.scroll-up-text:hover {
  color: black;
}

/* Website footer  */

.coder {
  font-size: 16px;
}

.coder a {
  text-decoration: none;
  color: var(--branding-color);
  font-weight: 500;
}

.coder a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

/* MEDIA QUERY */

@media (max-width: 900px) {
  h1 {
    font-size: 42px;
  }

  p {
    font-size: 16px;
  }

  /* Homepage */

  .hero h1 {
    font-size: 42px;
    margin-top: 115px;
  }

  .hero h2 {
    font-size: 20px;
    padding: 5px 40px;
    line-height: 25px;
    margin-top: 10px;
  }

  .hero p {
    margin-top: 20px;
  }

  .hero-btn-branding {
    padding: 7px 20px;
  }

  .hero p,
  .hero-btn-branding {
    font-size: 18px;
  }

  .photo-credit {
    padding: 5px 30px;
  }

  .homepage-content-container {
    padding-top: 150px;
  }

  .homepage-content h4 {
    font-size: 30px;
  }

  .homepage-content,
  .featured-projects-container,
  .featured-projects-content {
    padding: 0;
  }

  .homepage-about-me-button,
  .featured-projects-content {
    text-align: center;
  }

  .homepage-about-me-button {
    margin-top: 30px;
  }

  .featured-projects-header {
    margin-top: 100px;
  }

  /* About page */

  .about-content {
    text-align: center;
    padding: 40px 0;
  }

  .education-content-style {
    border: none;
  }

  .education-section {
    margin-bottom: -40px;
  }

  .education-section h4 {
    font-size: 20px;
  }

  .education-section h5 {
    font-size: 18px;
  }

  .education-section p {
    line-height: 26px;
  }

  .skills {
    margin-top: -13px;
  }

  /* Project page */

  .project-subheading {
    font-size: 19px;
  }

  .project-content {
    margin-bottom: 20px;
  }

  /* Contact page */

  .contact-section h4 {
    font-size: 23px;
  }

  /* Footer */

  .email-link {
    font-size: 18px;
  }

  .social-media-links a {
    font-size: 22px;
  }

  .scroll-up-button {
    margin-top: 40px;
  }
}
